* {
  padding: 0;
  margin: 0;
  font-family: Arial;
}

body {
  padding: 20px;
  background-color: rgb(32, 32, 32);
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.item-icon-name {
  display: flex;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

a {
  text-decoration: none;
}

.item {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Example rarity colors */
.common {
  color: #ffffff;
}
.uncommon {
  color: #1eff00;
}
.rare {
  color: #0070dd;
}
.epic {
  color: #a335ee;
}
.legendary {
  color: #ff8000;
}
.artifact {
  color: #0cf;
}

.gold-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: contain;
  margin-left: 4px;
}

.item-icon {
  width: 28px;
  height: 28px;
  background-size: contain;
  margin-right: 8px;
  border-radius: 4px;
}

.price {
  color: white;
}

.calculation {
  display: none; /* Hide calculation by default */
}

.show-calculation .calculation {
  display: inline; /* Only show when this class is added */
}

.hide-calculation .not-calculation {
  display: none; /* Hide when this class is added */
}

.hide-components #item-209998 td {
  display: none;
}

.hide-components #item-210003 td {
  display: none;
}

.hide-components #item-209351 td {
  display: none;
}

.hide-money #wow-token td {
  display: none;
}

.hide-money #real-money td {
  display: none;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(800px, auto));
  grid-gap: 1em;
}

.chart-style {
  position: relative;
  margin: 0;
  min-height: 500px;
}

.options-checkboxes {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1650px) {
  .grid-wrapper {
    grid-template-columns: auto;
  }

  .chart-style {
    max-width: 95vw;
  }
}

@media screen and (max-width: 800px) {
  body {
    padding: 4px;
  }

  .gold-icon {
    width: 8px;
    height: 8px;
  }

  .item-icon {
    display: none;
  }

  table {
    font-size: 10px;
  }

  .options-checkboxes {
    flex-direction: row;
  }
}
